.navbar {
  background-color: transparent;
  background: transparent;
  border-width: 0px;
}
body {
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #eceeef;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: compact;
}

#post-title a:before {

    font-family: FontAwesome;
    content: "\f0c4";

}

	h2 {
    color: #ffffff;
  font-size: 4em;
  line-height: 1.25em;
  margin: 0 0 0.5em 0;
  padding: 0;

	}


.im {
  background-color: #f7f7f9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron_index {
display: table;
  background-image: url(../images/10013330_633776706701206_865312681_n.jpg);
  min-height: 700px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center 40%;
}

.inside {
  display: table-cell;
  vertical-align: bottom;
}

.kk {
  height:100%;
  width:100%;
}
