<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StravaTFL - You have saved</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/2.1.4/themes/smoothness/jquery-ui.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
 <body>
   <nav class="navbar navbar-light bg-faded">
     <ul class="nav navbar-nav">
       <li class="nav-item active">
         <button class="navbar-toggler" type="button">&#9776;
           <b>STRAVA-TFL</b>
         </button>
       </li>
       <div class="container-fluid pull-xs-right">
         <li class="nav-item">
           <a class="nav-link" href="#">
             <h5>Home</h5>
             <span class="sr-only">(current)</span>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/calculate">
             <h5>Calculate</h5>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="docs/v1.json">
             <h5>API Docs</h5>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">
             <h5>About</h5>
           </a>
         </li>
       </div>
     </ul>
   </nav>
   <div class="container-fluid">
  <div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Number of Activities:</th>
          <td><%= @result[:activities] %></th>
        </tr>
        <tr>
          <th scope="row">Unit daily price:</th>
          <td><%= @result[:price] %></th>
        </tr>
        <tr>
          <th scope="row">With weekends:</th>
          <td><%= @result[:weekends] %></th>
        </tr>
        <tr>
          <th scope="row">Total saved:</th>
          <td><%= @result[:total] %></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6 col-sm-4"></div>
</div>


<!-- </div> -->
</div>
 </body>
</html>
